html {
    
        min-height: 100%;
        position: relative;
    
}

.titulo{
    font-style: oblique;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.bg-dark{
    background-color:#000000!important;
}

.bg-transparent{
    background-color:#D4CDCE!important;
} 

.bg-secondary{
     background-color:#E6E3E4!important;
}

.intro{
    font-family: inherit;
}

.table-dark{
    font-family:inherit;
    background-image: linear-gradient(315deg,#ebd3d386 0%, #d44012 100%);
   font-style: italic;
   
}


.fondo{
   margin: 0;
   background-image: linear-gradient(315deg,#e2d9d9 0%, #c09071 100%);
   align-items: center;
   justify-content: center;
   font-family: "Poppins", "sans-serif";
   min-height: 100vh;
   

}

.redes a{
    font-size: 55px;
    color:darkred;
}
.redes a:hover{
    color: white;
}
